/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/



:root{
    /* Colors */

    --bitcoinOrange : #F7931A;
    --softOrange: #FFE9D5;
    --secondaryBlue: #1A9AF7;
    --softBlue: #E7F5FF;
    --warmBlack:#201E1C;
    --warmBlack1:#282623;
    --grey: #BABABA;
    --offWhite: #FAF8F7;
    --justWhite: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}


header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 33.4rem;
    min-width: 32rem;
    text-align: center;   
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    
    align-self: center;
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
  
} 

.header--postTitle{
    width: 90%;
    min-width: 29.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header--postTitle h1{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--justWhite);
}


.header--postTitle p{
    margin-top: 2.4rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--softOrange);
}

.header--postTitle .header--boton{
    left: calc(50% - 118px);
    position: absolute;
    display: block;
    top: 27rem;
    margin-top: 3.7rem ;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--offWhite);


    border: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;    
    text-decoration: none;
    color: var(--warmBlack);
}


.header--boton span{
    display: inline-block;
    margin-left: 1rem;
    width: 1.3rem;
    height: 0.8rem;
    background-image: url("../assets/icon/arrowButtomBlack.svg");
   
}

main{
    width: 100%;
    height: auto;
    background-color: var(--offWhite);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top:8rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 29.8rem;
    max-width: 90rem;
    margin: 0 auto;

}



.main-exchange-container--title h2{
    
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warmBlack);
    margin-bottom: 3rem;
}

.main-exchange-container--title p{
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #757575;
}



.main-exchange-container .background-image{
    width: 20rem;
    height: 20rem;
    background-image: url("../assets/image/BitcoinImageTranparent.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    margin: 0 auto;
    margin-bottom: 5rem;
}


.main-tablets-container{
    width: 70%;
    min-width: 299px;
    margin: 0 auto;

}



.main-tablets-container .main-Monedas-tittle{
    color: var(--bitcoinOrange);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 1.2rem;
    width: 80%;
    
}

.main-tablets-container .main-Monedas--container {
    width: 90%;
    margin: 0 auto;
    height: 156px ;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 39px 39px 39px 39px;
    justify-content: center;
    align-items: center;

    background-color: var(--justWhite);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    border-radius: 8px;

}

.main-tablets-container .main-Monedas--container .precio{
    font-weight: normal;
    font-size: 1.4rem;
    color: #757575;
    justify-content: center;
}


.main-tablets-container .main-Monedas--container .arrowDown {
    display: inline-block;
    background-image: url("../assets/icon/arrowRed.svg");
    width: 13px;
    height: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: 1rem;
}







.main-tablets-container .main-Monedas--container .arrowUp {
    display: inline-block;
    background-image: url("../assets/icon/arrowGreen.svg");
    width: 13px;
    height: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: 1rem;
}



.main-tablets-container .main-Monedas--container div{
    border: 0.5px solid var(--offWhite);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;

}

.main-tablets-container .main-Monedas-date{
    min-width: 173px;
    width: 75%;
    height: 31px;
    background-color: var(--softOrange);
    border-radius: 8px;    
    margin: 0 auto;
    margin-top: 16px ;
    margin-bottom: 16px ;
}

.main-Monedas-date p{
    display:  flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    font-family: "Inter",sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--warmBlack1);
    line-height: 15px;
}

/* otra tabla-------- */

/* .main-tablet--Comisiones{
    display: none;
} */
.main-tablet--Comisiones .main-Comisiones--container {
    width: 90%;
    margin: 0 auto;
    height: 156px ;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 39px 39px 39px 39px;
    justify-content: center;
    align-items: center;

    background-color: var(--justWhite);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    border-radius: 8px;
}


.main-tablet--Comisiones .main-Comisiones-tittle{
    color: var(--secondaryBlue);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 1.2rem;
    width: 80%;
    
}

.main-tablet--Comisiones .main-Comisiones--container .precio{
    font-weight: normal;
    font-size: 1.4rem;
    color: #757575;
    justify-content: center;
}

.main-tablet--Comisiones .main-Comisiones--container div{
  
    border: 0.5px solid var(--offWhite);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
}

.main-tablet--Comisiones .main-Comisiones-date{
    min-width: 173px;
    width: 75%;
    height: 31px;
    background-color: var(--softBlue);
    border-radius: 8px;    
    margin: 0 auto;
    margin-top: 16px ;
    margin-bottom: 16px ;
}

.main-tablet--Comisiones .main-Comisiones-date p{
    display:  flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    font-family: "Inter",sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--warmBlack);
    line-height: 15px;
}