/*
1. Posicionamiento
2. Modelo caja (Box model)
3. Tipografia
4. Visuales
5. Otros
*/



:root{
    /* Colors */

    --bitcoinOrange : #F7931A;
    --softOrange: #FFE9D5;
    --secondaryBlue: #1A9AF7;
    --softBlue: #E7F5FF;
    --warmBlack:#201E1C;
    --warmBlack1:#282623;
    --grey: #BABABA;
    --offWhite: #FAF8F7;
    --justWhite: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}


header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 33.4rem;
    min-width: 32rem;
    text-align: center;   
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img{
    
    align-self: center;
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;
  
} 

.header--postTitle{
    width: 90%;
    min-width: 29.8rem;
    max-width: 90rem;
    height: 21.8rem;
    margin-top: 4rem;
    text-align: center;
    align-self: center;
}

.header--postTitle h1{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--justWhite);
}


.header--postTitle p{
    margin-top: 2.4rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--softOrange);
}

.header--postTitle .header--boton{
    left: calc(50% - 118px);
    position: absolute;
    display: block;
    top: 27rem;
    margin-top: 3.7rem ;
    padding: 1.5rem;
    width: 22.9rem;
    height: 4.8rem;
    background-color: var(--offWhite);


    border: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.4rem;    
    text-decoration: none;
    color: var(--warmBlack);
}


.header--boton span{
    display: inline-block;
    margin-left: 1rem;
    width: 1.3rem;
    height: 0.8rem;
    background-image: url("../assets/icon/arrowButtomBlack.svg");
   
}

main{
    width: 100%;
    height: auto;
    background-color: var(--offWhite);
}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top:8rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 29.8rem;
    max-width: 90rem;
    margin: 0 auto;

}



.main-exchange-container--title h2{
    
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warmBlack);
    margin-bottom: 3rem;
}

.main-exchange-container--title p{
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #757575;
}



.main-exchange-container .background-image{
    width: 20rem;
    height: 20rem;
    background-image: url("../assets/image/BitcoinImageTranparent.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
    margin: 0 auto;
    margin-bottom: 5rem;
}


.main-tablets-container{
    width: 70%;
    min-width: 299px;
    margin: 0 auto;

}



.main-tablets-container .main-Monedas-tittle{
    color: var(--bitcoinOrange);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 1.2rem;
    width: 80%;
    
}

.main-tablets-container .main-Monedas--container {
    width: 90%;
    margin: 0 auto;
    height: 156px ;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 39px 39px 39px 39px;
    justify-content: center;
    align-items: center;

    background-color: var(--justWhite);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    border-radius: 8px;

}

.main-tablets-container .main-Monedas--container .precio{
    font-weight: normal;
    font-size: 1.4rem;
    color: #757575;
    justify-content: center;
}


.main-tablets-container .main-Monedas--container .arrowDown {
    display: inline-block;
    background-image: url("../assets/icon/arrowRed.svg");
    width: 13px;
    height: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: 1rem;
}

.main-tablets-container .main-Monedas--container .arrowUp {
    display: inline-block;
    background-image: url("../assets/icon/arrowGreen.svg");
    width: 13px;
    height: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: 1rem;
}



.main-tablets-container .main-Monedas--container div{
    border: 0.5px solid var(--offWhite);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;

}

.main-tablets-container .main-Monedas-date{
    min-width: 173px;
    width: 75%;
    height: 31px;
    background-color: var(--softOrange);
    border-radius: 8px;    
    margin: 0 auto;
    margin-top: 16px ;
    margin-bottom: 16px ;
}

.main-Monedas-date p{
    display:  flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    font-family: "Inter",sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--warmBlack1);
    line-height: 15px;
}

/* otra tabla-------- */

/* .main-tablet--Comisiones{
    display: none;
} */
.main-tablet--Comisiones .main-Comisiones--container {
    width: 90%;
    margin: 0 auto;
    height: 156px ;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 39px 39px 39px 39px;
    justify-content: center;
    align-items: center;

    background-color: var(--justWhite);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    border-radius: 8px;
}


.main-tablet--Comisiones .main-Comisiones-tittle{
    color: var(--secondaryBlue);
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 1.2rem;
    width: 80%;
    
}

.main-tablet--Comisiones .main-Comisiones--container .precio{
    font-weight: normal;
    font-size: 1.4rem;
    color: #757575;
    justify-content: center;
}

.main-tablet--Comisiones .main-Comisiones--container div{
  
    border: 0.5px solid var(--offWhite);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2rem;
}

.main-tablet--Comisiones .main-Comisiones-date{
    min-width: 173px;
    width: 75%;
    height: 31px;
    background-color: var(--softBlue);
    border-radius: 8px;    
    margin: 0 auto;
    margin-top: 16px ;
    margin-bottom: 16px ;
}

.main-tablet--Comisiones .main-Comisiones-date p{
    display:  flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    font-family: "Inter",sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--warmBlack);
    line-height: 15px;
}

main .main-beneficion-container{
    background-color: var(--warmBlack);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.main-beneficion-container .beneficion--logoMinitaura{
    display: inline-block;
    background-image: url("../assets/icon/logoBit.svg");
    width: 37.45px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    top: -10px;
    margin: 0 auto;
    margin-bottom:32px;
}

.beneficion-titleDescription--container{
    
   
    width: 90%;
    margin: 0 auto;
}


.beneficion-titleDescription--container .titleDescription--title{
    width: 100%;
    font-weight: bold;
    line-height: 2.6rem;
    font-size: 2.4rem;
    text-align: center;
    color: var(--justWhite);
}

.beneficion-titleDescription--container .titleDescription--description{
    margin-top: 20px;
    width: 100%;
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1.4rem;
    text-align: center;
    color: #808080;
}

.benicion-cards--container{
    margin-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}


.benicion-cards--container .benificion-detail--card{
    width: 90%;
    min-width: 298px;
    max-width: 400px;
    min-height: 150px;
    background-color: var(--warmBlack1);
    margin-top: 16px;
    padding: 16px;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.benificion-detail--card .benificion--card-title{
   font-weight: bold;
   font-size: 1.8rem;
   line-height: 1.8rem;
   
   color: var(--justWhite);
}

.benificion-detail--card .benificion--card-body{
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;

    color: #808080;
    
}

.benificion-detail--card .logosB{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:12px ;
}

.benificion-detail--card .clock{
  background-image: url("../assets/icon/IconClock.svg");
}

.benificion-detail--card .eyes{
    background-image: url("../assets/icon/IconEye.svg");
  }

.benificion-detail--card .money{
background-image: url("../assets/icon/Icondollar.svg");
}

.benificion-detail--card .check{
background-image: url("../assets/icon/IconCheckCircle.svg");
}

.womanLOgo{
    width: 100%;
    min-width: 320px;
    height: 75vh;
    
    background-image: url("../assets/image/bitcoinbaby2x.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
}

.womanLOgo h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--justWhite);

    padding-top:64px;

}

.main--plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 50px;
    height: auto;
    background-color: #e5e5e5;
    text-align: center;

 
}


.main--plans-container .plans--title{
   
    width: 90%;
    min-width: 290px;
    height: auto;
    margin: 0 auto;

    margin-bottom: 50px;

}

.main--plans-container .plans--title h2{
    padding-top: 50px;
    margin-bottom: 24px;
    width: 100%;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;

    color: var(--warmBlack);
}

.main--plans-container .plans--title p{

    width: 100%;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;

    color: #757575;
}

.plans-container--slider{

    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: proximity;

}


.plans-container--slider .plans-container--card{
    width: 60%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    padding: 31px 15px 24px;

    background-color: var(--justWhite);
    position: relative;
    scroll-snap-align: center;
    margin: 50px 8px 0;


    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 15px;
}

.plans-container--card .card--title{
    width: 100px;



    position: absolute;
    top: -15px;
    left: calc(50% - 50px);
    padding: 8px;

    font-family: "Inter",sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;

    color: var(--justWhite);
    background-color: #F7931A;
    border-radius: 8px;

}

.card--moneyPlan{
    width: 100%;
}

.card--moneyPlan .moneyPlan--pago{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;

    color: #000000;
}

.card--moneyPlan .moneyPlan--number{

    width: 100%;
    margin: 0 auto;
    margin-top: 8px;

    font-family: "Inter",sans-serif;
    font-weight: bold;
    font-size: 5.2rem;
    line-height: 6.1rem;
    
    color: #000000;
    position: relative;
}

.card--moneyPlan .moneyPlan--number span{
    position: absolute;
    top: 10px;
    left: calc(50% - 40px);
    margin-right: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
   
    color: #363636;
}

.card--moneyPlan .moneyPlan--descripcion{
    font-family: "Inter",sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    
    margin-top: 16px;
    margin-bottom: 16px;
   

    color: #757575;
}

.card--moneyPlan .moneyPlan--escoger{

    width: 150px;
    height: 50px;

    padding: 8px;
    margin: 0 auto;

    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--warmBlack); 

    border: 2px solid #F7931A;
    box-sizing: border-box;
    border-radius: 4px;
    background: #FAF8F7;

   
    
}

.card--moneyPlan .moneyPlan--escoger span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../assets/icon/arrow-orange.svg");

    vertical-align: text-bottom;
}




